[package]
name = "choreo_master_mobile_json"
version = "0.1.0"
edition = "2024"
publish = false

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
thiserror = "2.0.18"
time = { version = "0.3", features = ["formatting", "parsing", "serde" ] }
